@namespace GraphRag.Net.Web.Components
@inherits AntDomComponentBase

<Space Class="@ClassMapper.Class" Size="@("26")">
    <button class="github_btn" onclick="window.open('https://github.com/AIDotNet/GraphRag.Net')"></button>
   
</Space>


<style>
    .github_btn {
        cursor: pointer;
        border: none;
        background-image: url('http://img.shields.io/github/stars/aidotnet/graphrag.net?style=social');
        width: 88px;
        height: 20px;
    }
</style>